<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbm.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.sbm.pojo.model.User">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_pwd" property="userPwd" jdbcType="VARCHAR"/>
        <result column="user_sex" property="userSex" jdbcType="VARCHAR"/>
        <result column="user_qq" property="userQq" jdbcType="VARCHAR"/>
        <result column="user_wx" property="userWx" jdbcType="VARCHAR"/>
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="user_avatar" property="userAvatar" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        user_id, user_name, user_pwd, user_sex, user_qq, user_wx, user_phone, user_avatar
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sbm.pojo.model.UserExample">
        select
        <if test="distinct">
            distinct
        </if>
        <if test="includeColumns == null or includeColumns.size()==0 ">
            <include refid="Base_Column_List"/>
        </if>
        <if test="includeColumns!=null and includeColumns.size() > 0">
            <foreach collection="includeColumns" index="index" item="includeColumn" separator=",">
                ${includeColumn}
            </foreach>
        </if>
        from user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="MySqlPaginationSuffix"/>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from user
        where user_id = #{userId,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.sbm.pojo.model.UserExample">
        delete from user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.sbm.pojo.model.User">
        insert into user (user_id, user_name, user_pwd,
        user_sex, user_qq, user_wx,
        user_phone, user_avatar)
        values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR},
        #{userSex,jdbcType=VARCHAR}, #{userQq,jdbcType=VARCHAR}, #{userWx,jdbcType=VARCHAR},
        #{userPhone,jdbcType=VARCHAR}, #{userAvatar,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.sbm.pojo.model.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userPwd != null">
                user_pwd,
            </if>
            <if test="userSex != null">
                user_sex,
            </if>
            <if test="userQq != null">
                user_qq,
            </if>
            <if test="userWx != null">
                user_wx,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="userAvatar != null">
                user_avatar,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null">
                #{userSex,jdbcType=VARCHAR},
            </if>
            <if test="userQq != null">
                #{userQq,jdbcType=VARCHAR},
            </if>
            <if test="userWx != null">
                #{userWx,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userAvatar != null">
                #{userAvatar,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.sbm.pojo.model.UserExample" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM
        <if test="distinct">
            (SELECT
            DISTINCT
            <include refid="Base_Column_List"/>
            from USER
            <if test="_parameter != null">
                <include refid="Example_Where_Clause"/>
            </if>
            ) AS COUNT_SQL
        </if>
        <if test="!distinct">

            USER
            <if test="_parameter != null">
                <include refid="Example_Where_Clause"/>
            </if>

        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update user
        <set>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=VARCHAR},
            </if>
            <if test="record.userName != null">
                user_name = #{record.userName,jdbcType=VARCHAR},
            </if>
            <if test="record.userPwd != null">
                user_pwd = #{record.userPwd,jdbcType=VARCHAR},
            </if>
            <if test="record.userSex != null">
                user_sex = #{record.userSex,jdbcType=VARCHAR},
            </if>
            <if test="record.userQq != null">
                user_qq = #{record.userQq,jdbcType=VARCHAR},
            </if>
            <if test="record.userWx != null">
                user_wx = #{record.userWx,jdbcType=VARCHAR},
            </if>
            <if test="record.userPhone != null">
                user_phone = #{record.userPhone,jdbcType=VARCHAR},
            </if>
            <if test="record.userAvatar != null">
                user_avatar = #{record.userAvatar,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update user
        set user_id = #{record.userId,jdbcType=VARCHAR},
        user_name = #{record.userName,jdbcType=VARCHAR},
        user_pwd = #{record.userPwd,jdbcType=VARCHAR},
        user_sex = #{record.userSex,jdbcType=VARCHAR},
        user_qq = #{record.userQq,jdbcType=VARCHAR},
        user_wx = #{record.userWx,jdbcType=VARCHAR},
        user_phone = #{record.userPhone,jdbcType=VARCHAR},
        user_avatar = #{record.userAvatar,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.sbm.pojo.model.User">
        update user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                user_pwd = #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="userSex != null">
                user_sex = #{userSex,jdbcType=VARCHAR},
            </if>
            <if test="userQq != null">
                user_qq = #{userQq,jdbcType=VARCHAR},
            </if>
            <if test="userWx != null">
                user_wx = #{userWx,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                user_phone = #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userAvatar != null">
                user_avatar = #{userAvatar,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sbm.pojo.model.User">
        update user
        set user_name = #{userName,jdbcType=VARCHAR},
        user_pwd = #{userPwd,jdbcType=VARCHAR},
        user_sex = #{userSex,jdbcType=VARCHAR},
        user_qq = #{userQq,jdbcType=VARCHAR},
        user_wx = #{userWx,jdbcType=VARCHAR},
        user_phone = #{userPhone,jdbcType=VARCHAR},
        user_avatar = #{userAvatar,jdbcType=VARCHAR}
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>
    <sql id="MySqlPaginationSuffix">
        <if test="page != null">
            <![CDATA[ LIMIT #{page.pageSize} OFFSET #{page.recordIndex}]]>
        </if>
    </sql>
    <select id="selectOneByExample" resultMap="BaseResultMap" parameterType="com.sbm.pojo.model.UserExample">
        select
        <if test="distinct">
            distinct
        </if>
        <if test="includeColumns == null or includeColumns.size()==0">
            <include refid="Base_Column_List"/>
        </if>
        <if test="includeColumns!=null and includeColumns.size() > 0">
            <foreach collection="includeColumns" index="index" item="includeColumn" separator=",">
                ${includeColumn}
            </foreach>
        </if>
        from user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        LIMIT 1 OFFSET 0
    </select>
</mapper>