
* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

/*新nav=================*/
#nav {
    padding: 0px;
    width: 100%;
    height: 60px;
    border-radius: 0;
    box-shadow: 0px 5px 5px #C0C0C0;
}

#logo {
    display: inline-block;
    width: 11%;
    height: 60px;
}

#logoPic {
    float: right;
    padding-top: 3px;
    width: 84%;
    height: 89%;
}

#nav-caidan {
    margin-left: 40px;
    display: inline-block;
    width: 50%;
    height: 60px;
    vertical-align: top;
}

#nav-caidan li {
    /*去除小圆点*/
    list-style: none;
    display: inline;
    margin-left: 6%;
    line-height: 60px;
    vertical-align: middle;
}

/*新nav*/
.nav-a {
    font-size: 17px;
    color: #808080;
    background: white;
    font-weight: 600;
}

.nav-a:hover {
    text-decoration: none;
    color: black;
}

#nav-label {
    font-size: 3px;
    display: inline-block;
    width: 23px;
    height: 15px;
    text-align: center;
    vertical-align: top;
    margin-top: 15px;
}

#nav-input {
    display: inline-block;
    height: 46px;
    width: 19%;
    vertical-align: top;
    border-bottom: 1px solid #C0C0C0;
}

/*sousou搜索框*/
#sousuoInput {
    outline: none;
    padding: 0px;
    margin: 0px;
    height: 30px;
    width: 80%;
    border: none;
    margin-top: 15px;
    font-size: 15px;
}

#ssDiv {
    text-align: center;
    float: right;
    width: 51px;
    height: 30px;
    border-bottom: 1px solid #C0C0C0;
    margin-top: 15px;
}

#sousouSpan {
    cursor: pointer;
    text-align: center;
    line-height: 24px;
    font-size: 15px;
    font-weight: bold;
    color: #A9A9A9;
    width: 35px;
    height: 24px;
    border-radius: 44%;
    vertical-align: sub;
}

#sousouSpan:hover {
    background: rgba(240, 20, 20, .4);
}

#perPicDiv {
    display: inline-block;
    width: 14%;
    height: 60px;
    vertical-align: top;
}

#perPic {
    float: right;
    margin-top: 2px;
    width: 52px;
    height: 52px;
}

/*个人悬浮*/
#person-detail {
    border-radius: 10px;
    width: 250px;
    height: 150px;
    position: absolute;
    z-index: 999;
    right: 26px;
    background: #F5F5F5;
}

#person-pic {
    float: left;
    margin: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#person-pic > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#person-name {
    float: left;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
}

#loginOut {
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
    width: 250px;
    height: 50px;
    border-top: 2px solid #DCDCDC;
    background: #F5F5F5;
    border-radius: 10px;
}

#per-sz > img {
    float: left;
    left: 10px;
    width: 30px;
    height: 30px;
}

#per-sz > a {
    text-decoration: none;
    color: #808080;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 16px;
}

#per-sz > a:hover {
    color: #000000;
}

#login-out > img {
    margin-top: 3px;
    float: left;
    width: 27px;
    height: 27px;
    margin-left: 20px;
}

#login-out > a {
    text-decoration: none;
    color: #808080;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 16px;
}

#login-out > a:hover {
    color: #000000;
}

.container {
    padding-left: 0px;
    margin-left: 0px;
}