* {
    margin: 0px;
    padding: 0px;
}
.carousel-indicators{
	bottom:40px;
}
#li1{
	position: relative;
	left:-20px;
}
#li3{
	position: relative;
	right: -20px;
}
#colLeft{
	border-radius: 60px 0 0 0;
}
#page1{
	text-align: center;
	background: url(../img/pageBackGround.jpg);
	height: 450px;
	background-color: rgb(9, 24, 39);
	padding-top: 70px;
	padding-bottom: 100px;
	background-position: 50% -202px;
}
#p1Tittle{
	font-size:40px;
	color:#ffffff;
	text-align:center;
	margin-top: -20px;
	margin-right:auto;
	margin-left:auto;
	max-width:600px;
}
#p1Div{
	background-color:#db6f6a;
	width:80px;
	height:4px;
	margin: 20px auto;
}
#Carousel{
	margin: -15px auto;
	text-align: center;
	width: 100%;
	height: 250px;
}
.img-people{
	width: 10%;
	height: 10%;
	margin: 30px auto 0 auto;
}
#p1Zxz{
	color:#ffffff;
	text-align:center;
}
#prev,#next{
	margin: 0;
}
dt{
	width:200px;
	margin: 0;
}
#end{
	text-align: left;
}
#aboutOur{
	border-left: 1px solid 	#DCDCDC;
}
#endLine{
	margin: 0 auto;
	width: 90%;
	height: 2px;
	background:#C0C0C0;
}
#myBtn{
	color:#03a6ff;
	z-index: 100;
	position:absolute;
	width:250px;
	height: 50px;
	border-radius: 0;
	left:550px;
	top:500px;
	border: 1px solid #03a6ff;
	border-radius: 5px;
}



.carousel-control.left {
  background-image:none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  left: auto;
  right: 0;

  background-image:none;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.glyphicon-chevron-left,.glyphicon-chevron-right{
	font-size: 20px !important;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	 outline: none;
	 border-color: transparent;
	 box-shadow:none;
}
.item{
	width: 100%;
	height: 100%;
}
.item1-title{
	width:100%;
	height:60px;
	position: absolute;
	bottom: 0px;
	background: rgba(55,60,64,0.8);
	font-size: 25px;
	color: white;
	text-align: center;
	line-height: 60px;
	border-radius: 5px 5px 5px 5px;
}
.item2-title{
	position: absolute;
	bottom: 20px;
	right:150px;
	width:300px;
	height: 110px;
	background:rgba(0,0,0,0.5);
	border-radius: 10px;
	color: white;
	text-align: center;
	font-size: 23px;
	line-height: 50px;
}
.item1{
	background: url("../img/sdkjdx.jpg");
}
.item2{
	background: url("../img/item2Bg.jpg");
}
.item2-title button{
	font-size: 15px;
	font-weight: bold;
	width:130px;
	height: 40px;
	background:#03a6ff;
	border: none;
}
.carousel-inner{
	width: 100%;
	height: 100%;
}
#myCarousel{
	width: 100%;
	height: 100%;
}
/*首页导航部分*/
#daohang{
	position: relative;
	width:1200px;
	height: 350px;
	border-radius: 5px;
	margin: auto;
	margin-top: 20px;
	box-shadow: 0px 5px 5px #C0C0C0;
}
/*导航文字区*/
#daohang1{
	display: inline-block;
	background: #2b333b;
	width: 200px;
	height: 100%;
	border: 1px solid #D3D3D3;
	border-radius: 5px 0 0 5px;
}

#daohang1  ul >a{
	color: rgba(255,255,255,.6);
	text-decoration: none;
}
#daohang1 >ul{
	padding-left: 8px;
	height:90% ;
	margin: auto;
	font-size: 18px;
	margin-top: 17px;
}
#daohang1 li{
	border-radius: 5px 0 0 5px;
	text-align: left;
	padding-left: 15px;
	width: 100%;
	height: 20%;
	line-height: 63px;
}
#daohang1 span
{
	margin-right: 30px;
	margin-top: 21px;
	font-size: 15px;
}
.daohangLi:hover {
	cursor: pointer;
	background: rgba(255,255,255,.6);;
}

/*轮播导航*/
#daohang2{
	display: inline-block;
	float: right;
	width: 996px;
	height: 100%;
}
.daohang1Hover{
	position: absolute;
	z-index:999;
	left:200px;
	width:700px;
	height:346px;
	background: #fff;
	top:0px;
	display: none;
}

#daohang1 ul a li:hover .daohang1Hover{
	display: block;
}
.daohang1HoverTop{
	height:60%;
	padding:0px 20px 0px 20px;
}
.daohang1HoverBottom{
	height:40%;
	background: #F8FAFC;
}
.daohang1HoverP{
	color: #696969;
	font-size:15px;
	font-weight:800;
	padding:0px;
	margin:0px;
}
.page-header{
	padding:0px;
	margin:0px;
	margin-top:-20px;
}

.daohang1HoverBtn{
	color:#03a6ff;
	border: 1px solid #03a6ff;
	background: white;
	margin-right:10px;
}
.daohang1HoverRec{
	position: relative;
	margin-left:20px;
	margin-right:10px;
	margin-top:3px;
	display: inline-block;
	width:310px;
	height:130px;
}

.recPic{
	position:relative;
	width:35%;
	display: inline-block;
	height:130px;
}
.recPic img{
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	text-align: center;
	max-height: 100%;
	max-width: 100%;
}

.recDetail{
	position: absolute;
	display: inline-block;
	width:60%;
	height:130px;
}
.recName>h5{
	width:100%;
	font-size:18px;
	color: #696969;
	font-weight:600;
}
.recCommon>h5{
	width:100%;
	font-size:10px;
	color: #808080;
	font-weight:400;
}

.F8FAFCBackground{
	background: #F8FAFC;
}
#recommend-all{
	width:1200px;
}


.owner-team{
	margin:auto;
	width:1200px;
	background: url(../img/pageBackGround.jpg);
	text-align: center;
	height: 380px;
	padding-top: 30px;
	padding-bottom: 100px;
	background-position: 50% -202px;
	margin-top:50px;
	margin-bottom:50px;
	border-radius: 10px;
	box-shadow:0px 5px 5px #C0C0C0;
}
.team-title{
	color: white;
}
.team-title strong{
	color: #d43f3a;
	font-size: 25px;
}
.team-position{
	color: white;
}
.team-pic{
	width: 150px;
	height: 150px;
	margin: auto;
}
.teaner-name{
	color: white;
}
.team-teamer{
	width: 180px;
	display: inline-block;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 40px;
}



.connect{
	width: 1200px;
	margin: auto;
	padding-left: 100px;
}
.connect-our{
	position: relative;
	height: 200px;
}
.connect-our div:nth-child(1){
	display: inline-block;
	width: 260px;
	position: relative;
	height: 200px;
}
.connect-our div:nth-child(1) img{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}
.connect-our div:nth-child(2){
	border-left: 2px solid #C0C0C0;
	margin-left: 30px;
	position: absolute;
	display: inline-block;
	width: 330px;
	height: 160px;
	margin-top: 20px;
	padding:0px 10px 0px 30px ;
}
.connect-our div:nth-child(3){
	border-left: 2px solid #C0C0C0;
	padding-top: 10px;
	padding-left: 30px;
	display: inline-block;
	margin-top: 20px;
	margin-left: 360px;
	position: absolute;
	width: 200px;
	height: 160px;
}
.connect-our div:nth-child(3) img{
	max-height: 80%;
	max-width: 80%;
}

.connect-our div:nth-child(3) h5{
	margin-left: 40px;
}

.connect-our div:nth-child(4){
	border-left: 2px solid #C0C0C0;
	padding-left: 30px;
	padding-top: 10px;
	display: inline-block;
	margin-top: 20px;
	margin-left: 600px;
	position: absolute;
	width: 200px;
	height: 160px;
}

.connect-our div:nth-child(4) img{
	max-height: 80%;
	max-width: 80%;
}
.connect-our div:nth-child(4) h5{
	margin-left: 40px;
}

.copyAllRight{
	width: 1200px;
	margin: auto;
	color: white;
	background: #22252e;
	text-align: center;
	font-size: 13px;
	padding:10px 0px 10px 0px;
	border-radius: 5px 5px 0px 0px;
}
