/*个人信息部分*/
#person-div {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background: url(../img/person-headBackground.jpg);
}

#per-pic {
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    text-align: center;
    width: 10%;
    background: #D3D3D3;
    margin-left: 3%;
    margin-top: 2%;
}

#per-pic img {
    border-radius: 50%;
    vertical-align: middle;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

#per-others {
    margin-left: 2%;
    color: white;
    display: inline-block;
    width: 20%;
    height: 100%;
}

#per-name {
    margin-top: 23%;
    font-size: 25px;
    font-weight: 600;
}

#per-amount {
    font-size: 15px;
    font-weight: 600;
}

/*展示部分*/
#show-part {
    width: 100%;
}

/*展示部分->点击部分*/
#click-part {
    display: inline-block;
    vertical-align: top;
    margin-top: 2%;
    height: 80%;
    display: inline-block;
    width: 20%;
}

#per-ziliao, #per-fabu, #per-huishou, #per-shoucang {
    width: 70%;
    color: #808080;
    padding: 10px;
    border: 1px solid #A9A9A9;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10%;
    border-radius: 5px 20px 20px 5px;
}

#per-fabu, #per-huishou, #per-shoucang, #per-ziliao:hover {
    cursor: pointer;
    color: #696969;
}

.per-click {
    border: none !important;
    background: rgba(240, 20, 20, .8);
    color: white !important;
}

/*展示部分->详情部分*/
#per-click-show, #yifabu-click-show, #sc-click-show, #recycle-click-show {
    display: inline-block;
    vertical-align: top;
    width: 79%;
    height: 95%;
    margin-top: 2%;
}

/*个人资料部分*/
#edit-pic {
    border: 1px solid red;
    margin: auto;
    margin-top: 1%;
    text-align: center;
    border: 1px solid #DCDCDC;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

#edit-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.notAllowed:hover {
    cursor: not-allowed;
}

.hoverImg:hover {
    cursor: pointer;
    transform: scale(1.1)
}

#edit-ziliao {
    height: 72%;
}

#edit-name, #edit-qq, #edit-weixin, #edit-sex {
    border-bottom: 2px solid #DCDCDC;
    margin: auto;
    width: 60%;
    height: 15%;
    margin-bottom: 1%;
}

#edit-name img {
    display: inline-block;
    height: 20px;
    width:20px;
    float: right;
    cursor: pointer;
}

#edit-name p, #edit-qq p, #edit-weixin p, #edit-sex p {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    vertical-align: top;
    padding-top: 1%;
    margin-top: 1.2%;
    width: 10%;
    height: 80%;
    background: #FAEBD7;
    font-weight: bold;
    border-radius: 20% 20% 0 0;
}

#edit-name input, #edit-qq input, #edit-weixin input, #edit-sex input {
    border: none;
    outline: none;
    width: 80%;
    height: 80%;
    display: inline-block;
    vertical-align: sub;
    margin-top: 14px;
    font-size: 20px;
    background: white;
}

#edit-btn {
    margin: auto;
    width: 60%;
    height: 15%;
}

#edit-btn button {
    display: inline-block;
    float: right;
    margin-left: 2%;
    margin-top: 2%;
}

/*已发布展示部分*/

#yifabu, #shoucang, #recycle {
    vertical-align: top;
    display: inline-block;
    width: 90%;
    height: 86%;
    margin-top: -15px;
}

#fabu-all {
    width: 100%;
    height: 33%;
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: 2px 2px 5px #888888;
}

#yifabu-page, #shoucang-page, #recycle-page {
    display: inline-block;
    width: 9%;
    height: 86%;
    float: right;
}

#fabu-pic {
    position: relative;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 150px;
    width: 20%;
    text-align: center;
    line-height: 150px;
}

#fabu-pic img {
    position: absolute;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    padding:5px;
}

#fabu-other {
    padding-top: 20px;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 100%;
    margin-left: 20px;
}

#fabu-other-jiage {
    width: 100%;
    height: 30%;
}

#fabu-other-jiage img {
    width:20px;
    height:20px;
}

#fabu-other-jiage span {
    font-weight: bold;
    font-size: 18px;
    vertical-align: middle;
    color: red;
}

#fabu-btn, #fabu-btn-1 {
    margin-left: 10%;
    position: relative;
    height: 100%;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

/*已发布特殊设置  */
#fabu-btn-1 {
    width: 45%;
}

#edit, #delete, #show, #showSc, #deleteSc {
    position: absolute;
    bottom: 10px;
    display: inline-block;
    border: none;
    color: #03a6ff;
    border: 1px solid #03a6ff;
    background: white;
    width: 120px;
    height: 30px;
    top:110px;
}


#show {
    float: left;
}

#edit {
    margin-left: 35%;
}

#delete {
    margin-left: 70%
}

#deleteSc{
    float: right;
}
#showSc{
    margin-left: 70%
}

.pagination li {
    display: flex;
}

.pagination a {
    border-radius: 0 !important;
    text-align: center;
    width: 100% !important;
    margin: 0 !important;
}

.dddBlackground {
    background: #ddd !important;
}

#souScUl, #souRecycleUl {
    float: right;
    margin-right: 10%;
}
