body {
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    cursor: pointer;
}

#head > ul {
    float: inherit;
    margin: 0 auto !important;
    padding-right: 10px;
}

#pic > img {
    height: 300px;
    width: 215px;
    overflow: hidden;
}

#show {
    padding: 0;
    width: 217px;
    border: 1px solid #C0C0C0;
    box-shadow: 10px 10px 5px #888888;
    margin-right: 20px;
}

#show1 {
    padding: 0;
    width: 217px;
    border: 1px solid #C0C0C0;
    box-shadow: 10px 10px 5px #888888;
    margin-right: 20px;
}

#show2 {
    padding: 0;
    width: 217px;
    border: 1px solid #C0C0C0;
    box-shadow: 10px 10px 5px #888888;
    margin-right: 20px;
}

#show3 {
    padding: 0;
    width: 217px;
    border: 1px solid #C0C0C0;
    box-shadow: 10px 10px 5px #888888;
    margin-right: 20px;
}

#name {
    width: 50%;
    height: 40px;
    text-align: center;
    float: left;
    vertical-align: middle;
}

#price {
    padding-top: 7px;
    height: 40px;
    width: 50%;
    text-align: center;
    float: right;
}

#price > img {
    width: 25px;
    height: 25px;
}

#jiange {
    height: 1px;
    background: #C0C0C0;
    width: 90%;
    margin: 0 auto;
}

/*查看和删除收藏*/
#see {
    font-size: 17px;
    color: #03a6ff;
    border-right: 1px solid #03a6ff;
    width: 50%;
    float: left;
    height: 36px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 0;
}

#delete {
    font-size: 17px;
    color: #03a6ff;
    width: 50%;
    float: right;
    height: 36px;
    margin-top: 2px;
    margin-bottom: 2px;
}
