#content {
    background: url(../img/specil2.jpg);
    height: 615px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#titleH1 {
    position: relative;
    text-align: center;
    top: -500px;
    text-shadow: black 5px 3px 3px;
    color: white;
    font-size: 50px;
}
